@font-face {
  font-family: 'Comfortaa';
  src: url(./fonts/Comfortaa-VariableFont_wght.ttf);
}

// declare a class which applies it
body {
  font-family: 'Comfortaa', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.logo {
  max-height: 50px;
}

.white-space-pre-wrap {
  white-space: pre-wrap;
}
